<% include partials/header %>
  <div class="list-header">
    <h2>Search your store</h2>
    <form class="item-form" method="post" action="/api/">
      <input type="text" name="name" placeholder="Search your Store">
      <input class="button" type="submit" value="Search">
    </form>
  </div>
  <table>
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < newSearchItem.length; i++ ){ %>
      <tr class="item-holder">
        <td><a href=<%= newSearchItem[i].largeImage %>><img class="search-image" src=<%= newSearchItem[i].image %> alt='image'></a></td>
        <td><%= newSearchItem[i].name %></td>
        <td>$<%= newSearchItem[i].price %></td>
        <td>
          <form action='/api/add-search/<%= newSearchItem[i]._id %>' method="post">
            <input class="button" type='submit' name='Add All ' value="Add to Current List">
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>

    <footer>
    </footer>

  </body>
</html>


