<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Current List:</h2>
    <form method="post" action="/">
      <input type="text" name="name" placeholder="Item Name">
      $<input type="text" name="price" placeholder="0.00">
      <input type="submit" value="Add Item">
    </form>
    <% items.forEach(function(item) { %>
      <a href="/<%= item._id %>/edit"><p><%= item.name %></p></a>
      <p>$<%= item.price %></p>
      <form action='/<%= item._id %>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' name='Delete me' value="Delete Item">
      </form>
    <% }) %>

    <h3><a href='/saved-lists'>Saved Lists</a></h3>

  </body>
</html>
