<% include partials/header %>
    <div class="list-header">
      <h2><%= savedList.name %></h2>
    </div>
    <table>
      <thead>
      </thead>
      <tbody>
      <tr class="item-holder">
        <form class="item-form" method="post" action="/saved-lists/<%= savedList._id %>">
          <td><img class="nav-image" src="/images/checkbox.png"> Got it!</td>
          <td><input type="text" name="name" placeholder="Item Name"></td>
          <td>$<input type="text" name="price" placeholder="0.00"></td>
          <td><input class="button nav-image" type='image' name='Delete me' value="Add Item" src="/images/add.png"></td>
        </form>
      </tr>
      <% savedList.listItems.forEach(function(item) { %>
        <tr class="item-holder">
          <td class="check">
            <a class="checked" href=""><img class="nav-image" src="/images/checkbox.png"></a>
            <a class="unchecked" href=""><img class="nav-image" src="/images/checkbox-empty.png"></a>
          </td>
          <td class="item-info">
            <a href="/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>/edit"><p><%= item.name %></p></a>
          </td>
          <td class="item-info">
            <p>$<%= item.price.toFixed(2) %></p>
          </td>
          <td class="delete-item">
            <form action='/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>' method="post">
              <input type='hidden' name='_method' value='delete'>
              <input class="button nav-image" type='image' name='Delete me' value="Delete Item" src="/images/delete.png">
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="total">
      <p>Total: $<%= savedList.total.toFixed(2) %></p>
      <% if (savedList.current === false){ %>
        <form action='/saved-lists/<%= savedList._id %>/add' method="post">
          <input class="button" type='submit' name='Add All ' value="Add All to Current List">
        </form>
      <% } %>
    </div>

    <footer>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
