<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <table>
      <thead>
        <tr class="list-header">
          <th><h2><%= savedList.name %></h2></th>
          <th>
            <form class="item-form" method="post" action="/saved-lists/<%= savedList._id %>">
              <input type="text" name="name" placeholder="Item Name">
              $<input type="text" name="price" placeholder="0.00">
              <input class="button" type="submit" value="Add Item">
            </form>
          </th>
        </tr>
      </thead>
      <tbody>
      <% savedList.listItems.forEach(function(item) { %>
        <tr class="item-holder">
          <td class="check">
            <input type="checkbox">
          </td>
          <td class="item-info">
            <a href="/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>/edit"><p><%= item.name %></p></a>
          </td>
          <td class="item-info">
            <p>$<%= item.price %></p>
          </td>
          <td class="delete-item">
            <form action='/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>' method="post">
              <input type='hidden' name='_method' value='delete'>
              <input class="button" type='submit' name='Delete me' value="Delete Item">
            </form>
          </td>
        <% }) %>
        </tr>
      </tbody>
    </table>
    <div class="total">
          <p>Total: $<%= savedList.total.toFixed(2) %></p>
          <% if (savedList.current === false){ %>
            <form action='/saved-lists/<%= savedList._id %>/add' method="post">
              <input class="button" type='submit' name='Add All ' value="Add All to Current List">
            </form>
          <% } %>
        </div>

    <footer>
      <a href='/saved-lists/current'>Current List</a>
      <a href='/saved-lists'>My Lists</a>
    </footer>

  </body>
</html>
