<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2><%= savedList.name %></h2>

    <form class="item-form" method="post" action="/saved-lists/<%= savedList._id %>">
      <input type="text" name="name" placeholder="Item Name">
      $<input type="text" name="price" placeholder="0.00">
      <input type="submit" value="Add Item">
    </form>

    <% savedList.listItems.forEach(function(item) { %>
      <div class="item-holder">
        <a href="/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>/edit"><p><%= item.name %></p></a>
        <p>$<%= item.price %></p>
        <input type="checkbox">
        <form action='/saved-lists/<%= savedList._id %>/list_items/<%= item._id %>' method="post">
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' name='Delete me' value="Delete Item">
        </form>
      </div>
    <% }) %>

    <% if (savedList.current === false){ %>
      <form action='/saved-lists/<%= savedList._id %>' method="post">
        <input type='submit' name='Add All ' value="Add All to Current List">
      </form>
    <% } %>


    <p>Total: <%= savedList.total.toFixed(2) %></p>
    <a href='/'>Current List</a>
    <a href='/saved-lists'>My Lists</a>


  </body>
</html>
